.ticket-switch-left-btn {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
  padding-left: 11.28%;
  padding-right: 11.28%;
}
.ticket-switch-btn {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  margin-left: -6.4rem;
  padding-left: 11.28%;
  padding-right: 11.28%;
}
.ticket-switch-right-btn {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
  margin-left: -6.4rem;
  padding-left: 11.28%;
  padding-right: 11.28%;
}
.ticket-btn,
.ticket-btn:hover,
.ticket-btn:focus,
.ticket-btn:active {
  text-decoration: none;
  color: white;
}
