.banner-part {
  background-image: url("https://i.ibb.co/CmtjVns/pexels-photo-188567.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.text-animate {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: aliceblue;
}

.text-animate:first-of-type {
  animation: showup 7s infinite;
}

.text-animate:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  80% {
    margin-left: 0px;
    opacity: 1;
  }
  100% {
    margin-left: 0px;
    opacity: 0;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
.nice {
  /* margin: 0; */
  padding: 0;
  display: flex;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  /* background: #fff; */
}
.nice span {
  position: relative;
  display: inline-flex;
  width: 140px;
  height: 40px;
  margin: 0 15px;
  /* perspective: 1000px; */
}
.nice span a {
  font-size: 12px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-12px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.nice span a:before,
.nice span a:after {
  position: absolute;
  content: "BUY NOW";
  height: 40px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.nice span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(12px);
}
.nice span a:after {
  color: rgb(248, 30, 6);
  transform: rotateX(90deg) translateZ(12px);
  font-weight: bold;
}
.nice span a:hover {
  transform: translateZ(-12px) rotateX(-90deg);
}

.service-card-img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 64% 84%, 0 100%);
}

.service-details-part {
  clip-path: polygon(63% 0, 100% 21%, 100% 100%, 0 100%, 0 22%);
  /* box-shadow: 0 0 2rem gray; */
}

.line-elipsis-3-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* load more btn  */

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.learn-more {
  width: 12rem;
  height: auto;
}

.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  /* line-height: 1.6; */
  text-align: center;
  text-transform: uppercase;
}

.learn-more:hover .circle {
  width: 100%;
}

.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
  color: #fff;
}

@supports (display: grid) {
  /* body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.625rem;
  grid-template-areas: ". main main ." ". main main .";
 } */

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}

/* online ticket part  */

.online-ticket {
  background-image: url("https://i.ibb.co/phFbZ3Q/pexels-photo-3668481.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
