.mySwiper {
  width: 80%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* height: 100rem; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
} */
